@keyframes spin {
    0%{
        transform: rotateZ(0)
    }
    50%{
        transform: rotateZ(360deg)
    }
    100%{
        transform: rotateZ(720deg);
    }
}

@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  

.spin{
    animation: spin 2s ease;
}