@keyframes spin {
    0%{
        transform: rotateZ(0)
    }
    50%{
        transform: rotateZ(360deg)
    }
    100%{
        transform: rotateZ(720deg);
    }
}

@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  

.spin{
    animation: spin 2s ease infinite;
}

.pulse{
  animation: pulse 2s ease-in-out infinite;
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake{
  animation: shake 1s ease-in-out infinite;
}


#one{
  /* background-color:rgba(255,0,0,0.6); */
  transform:rotateY(0deg) translateZ(100px);
  }
  #two{
  /* background-color:rgba(0,255,0,0.6); */
  transform:rotateY(90deg) translateZ(100px);
  }
  #three{
  /* background-color:rgba(255,255,0,0.6); */
  transform:rotateY(180deg) translateZ(100px);
  }
  #four{
  /* background-color:rgba(255,0,255,0.6); */
  transform:rotateY(-90deg) translateZ(100px);
  }
  #five{
  /* background-color:rgba(0,255,255,0.6); */
  transform:rotateX(90deg) translateZ(100px);
  }
  #six{
  /* background-color:rgba(0,0,255,0.6); */
  transform:rotateX(-90deg) translateZ(100px);
  }

  .diceFace{
    position:absolute;
    background: #191919;
    border-radius: 2rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, .5), -0.5rem -0.5rem 0.5rem rgba(255, 255, 255, 0.05);
    /* width:200px;
    height:200px; */
    /* text-align:center;
    line-height:200px;
    font-size:45px; */
    /* border:2px solid #a00; */
    }