@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
}

:root {
    font-size: 10px;
    --back: #202020;
    --box: #272727;
    --text: #7f7f7f;
    --shadow: .3rem .3rem 1rem rgba(0, 0, 0, .9), -.3rem -.3rem 1rem rgba(255, 255, 255, 0.13);
    --shadowIn: inset .3rem .3rem 1rem rgba(0, 0, 0, .9), inset -.3rem -.3rem 1rem rgba(255, 255, 255, 0.13);
    --tile: #353535;
}

[data-theme="light"] {
    --back: #e9e9e9;
    --box: #e1e1e1;
    --text: #555;
    --shadow: .3rem .3rem 1rem rgba(0, 0, 0, .11), -.3rem -.3rem 1rem rgba(255, 255, 255, .9);
    --shadowIn: inset .3rem .3rem 1rem rgba(0, 0, 0, .11), inset -.3rem -.3rem 1rem rgba(255, 255, 255, .9);
    --tile: #d1d1d1;
}

.green,
.green_piece {
    --border: #0b8457;
}

.blue,
.blue_piece {
    --border: #3d6cb9;
}

.red,
.red_piece {
    --border: #d72323;
}

.yellow,
.yellow_piece {
    --border: #be9d5b;
    /* color: var(--tile)!important; */
}

.yellow_piece::after {
    content: 'Y';
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
}

.green_piece::after {
    content: 'G';
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
}

.red_piece::after {
    content: 'R';
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
}

.blue_piece::after {
    content: 'B';
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
}

input {
    background: var(--back);
    box-shadow: var(--shadowIn);
    border: none;
    color: var(--text);
    height: 5rem;
    margin: 3rem;
    min-width: 30rem;
    font-size: 1.6rem;
}

input:focus {
    outline: none;
    box-shadow: var(--shadow);
}

body {
    background: var(--back);
    width: 100vw;
    height: 100vh;
    position: relative;
    transition: background .5s ease-in-out;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.start-screen {
    width: 100%;
    height: 100%;
}

.game-title {
    position: absolute;
    top: 3rem;
    left: 50%;
    color: var(--text);
    margin-left: -83px;
    font-size: 1rem;
}

.player-name {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-name>form {
    margin: 2rem;
    padding: 2rem;
    font-size: 1.6rem;
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.player-name>form>label {
    font-weight: 600;
}

.player-name>form>input {
    margin: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    width: 30%;
}

#user_name_form>button,
#change_name_form>button {
    color: var(--text);
    background: var(--back);
    border: none;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow)
}

#user_name_form>button,
#change_name_form>button:active {
    box-shadow: var(--shadowIn)
}

#user_name_form>button,
#change_name_form>button:focus {
    outline: none;
}

.player-name>.name {
    margin: 3rem;
    padding: 2rem;
    font-size: 2.5rem;
    color: var(--text);
    letter-spacing: .3rem;
}

.player-name>.buttons {
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttons>button {
    margin: 1rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--back);
    color: var(--text);
    border: none;
    box-shadow: var(--shadow)
}

.buttons>button:focus {
    outline: none;
}

.buttons>button:active {
    box-shadow: var(--shadowIn);
}

.settings-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-screen>#change_name_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.settings-screen>#change_name_form>label {
    margin: 1rem;
    color: var(--text);
}

.settings-screen>#change_name_form>input {
    margin: 3rem;
    padding: 2rem;
    border-radius: 2.5rem;
}

.settings-screen>.close_setting {
    position: fixed;
    top: 8rem;
    left: 3rem;
}

.settings-screen>.close_setting>button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    border: none;
    background: var(--back);
    color: var(--text);
    border: none;
    box-shadow: var(--shadow)
}

.settings-screen>.close_setting>button:focus {
    outline: none;
}

.settings-screen>.close_setting>button:active {
    box-shadow: var(--shadowIn)
}

.network {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.network>form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.network>form>input {
    padding: 1rem;
    margin: 3rem;
    border-radius: 2rem;
    width: 50%;
}

.network>.friends {
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-height: 22rem;
    overflow-y: scroll;
}

.network>.friends>.friends_list {
    min-width: 30rem;
    height: 5rem;
    margin: 1rem;
    background: var(--box);
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.network>.friends>.friends_list>h1 {
    margin-left: 1rem;
    color: var(--text);
    letter-spacing: .3rem;
    font-weight: 600;
}

.friends_buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.friends_buttons>button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    background: var(--back);
    color: var(--text);
    margin: 0 .3rem;
}

.friends_buttons>button>.material-icons {
    font-size: 2rem;
}

.start {
    width: 60%;
    height: 5rem;
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start>button {
    width: 15rem;
    height: 4rem;
    border-radius: .7rem;
    border: none;
    background: var(--back);
    color: var(--text);
    letter-spacing: .5rem;
    text-transform: uppercase;
    box-shadow: var(--shadow);
}

.start>button:focus {
    outline: none;
}

.start>button:active {
    box-shadow: var(--shadowIn)
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.game>.color-button,
.game>.close-button {
    position: absolute;
    background: var(--back);
    color: var(--text);
    border: none;
    border-radius: 50%;
    box-shadow: var(--shadow);
    width: 5rem;
    height: 5rem;
}

.game>.color-button {
    bottom: 5rem;
    right: 5rem;
}

.game>.close-button {
    top: 5rem;
    right: 5rem;
}

.game>.color-button:focus,
.game>.close-button:focus {
    outline: none;
}

.game>.color-button:active,
.game>.close-button:active {
    box-shadow: var(--shadowIn);
}

.board {
    display: flex;
    flex-wrap: wrap;
    background: var(--back);
    width: 80rem;
    height: 80rem;
    border-radius: 2rem;
    box-shadow: var(--shadow);
    padding: 5rem;
    margin: 2rem;
}

.home {
    background: var(--box);
    width: 27.5rem;
    height: 27.5rem;
    border-radius: 2rem;
    padding: 5rem;
    /* box-shadow:var(--shadowIn) */
}


/* .turn {
    box-shadow: 0 0 .8rem var(--border);
} */

.path-v {
    height: 27.5rem;
    width: 15rem;
    padding: .5rem;
}

.path-h {
    height: 15rem;
    width: 27.5rem;
    padding: .5rem;
}

.path_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.path_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.path_3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.path_4 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.center {
    height: 15rem;
    width: 15rem;
    background: var(--box);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset #262626 0px 0px 2px 2px, inset #000000 4px 4px 8px, inset #4d4d4d -4px -4px 8px; */
}

.lines {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 2s ease;
}

.lines>.line1,
.line2 {
    width: .1rem;
    height: 18rem;
    background: #555;
    left: 50%;
    bottom: 39%;
}

.line1 {
    transform: rotate(45deg);
}

.line2 {
    transform: rotate(135deg);
}

.home-inner {
    width: 100%;
    height: 100%;
    background: var(--back);
    border-radius: 2rem;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: #262626 0px 0px 2px 2px, #000000 4px 4px 8px, #4d4d4d -4px -4px 8px;
}

.player {
    box-shadow: 0 0 .8rem var(--border);
}

.turn>.home-inner {
    animation: pulse 1s ease-in-out infinite;
}

.material-icons {
    font-size: 2.7rem;
}

.initial {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.position {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    /* background: var(--border); */
    border: 1px solid var(--border);
    transition: all .2s ease-in-out;
}

.position:hover {
    transform: scale(1.3);
}

.tile {
    background: var(--tile);
    width: 4rem;
    height: 4rem;
    margin: .2rem;
    border-radius: .5rem;
    transition: all .2s ease-in-out;
    color: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* [safe-path]{
    box-shadow:var(--shadowIn)
} */

.tile:hover {
    transform: scale(1.2)!important;
    background: var(--box);
}

.border {
    border: 1px solid var(--border);
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
    height: 56rem;
    border-radius: 2rem;
    background: var(--back);
    margin: 2rem;
    box-shadow: var(--shadowIn);
    padding: 4rem 2rem;
    color: var(--text);
}

.current-moves {
    width: 100%;
    /* height: 5rem; */
    text-align: center;
    padding: 1.8rem;
    font-size: 1.4rem;
    letter-spacing: .3rem;
    border-radius: 2rem;
}

.dice-view {
    background: none;
    perspective: 70rem;
    border: none;
}

.dice {
    width: 13rem;
    height: 13rem;
    background: var(--back);
    border-radius: 2rem;
    box-shadow: var(--shadow);
    transition: transform 1s;
    position: relative;
    transform-style: preserve-3d;
}

.roll {
    width: 70%;
    padding: 1rem;
}

.roll>button {
    width: 100%;
    height: 4rem;
    border-radius: 2rem;
    color: var(--text);
    border: none;
    background: var(--back);
    font-size: 1.8rem;
    box-shadow: var(--shadow);
    letter-spacing: .4rem;
    transition: box-shadow 1s ease-in-out;
}

.roll>button:focus {
    outline: none;
}

.roll>button:active {
    box-shadow: var(--shadowIn);
}

.piece {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--border);
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
    z-index: 1;
}

.piece>.material-icons {
    font-size: 1.7rem;
}

.home_piece:disabled {
    background: transparent;
}

.safe {
    position: relative;
}

.safe>.material-icons {
    z-index: 0;
    position: absolute;
}

.tile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    background: var(--tile);
}

.tile>.piece {
    position: absolute;
    top: 0;
    left: 0;
    color: #222;
    z-index: 1;
    background: var(--border);
}

@media only screen and (max-width: 1200px) {

    .material-icons{
        font-size: 1.6rem;
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 80rem;
        width: 100%;
        min-width: 43rem;
    }
    main {
        flex-direction: column;
        align-items: center;
    }
    .settings-screen {
        margin-bottom: 3rem;
    }
    .start-screen {
        margin-bottom: 3rem;
    }
    .player-name>.name {
        margin: 1rem;
        font-size: 1.9rem;
    }
    .buttons>button {
        width: 4rem;
        height: 4rem;
    }
    .buttons>button>.material-icons {
        font-size: 1.8rem;
    }
    #user_name_form>button,
    #change_name_form>button {
        width: 4rem;
        height: 4rem;
    }
    #user_name_form>button>.material-icons,
    #change_name_form>button>.material-icons {
        font-size: 1.8rem;
    }
    .network>.friends>.friends_list>h1 {
        font-size: 1.4rem;
    }
    .friends {
        max-height: 18rem;
        overflow-y: scroll;
    }
    .game {
        /* transform: scale(.8); */
        flex-direction: column;
    }
    .game>.color-button,
    .game>.close-button {
        height: 3rem;
        width: 3rem;
    }
    .game>.close-button {
        top: 2rem;
        right: 2rem;
    }
    .game>.color-button {
        top: 2rem;
        left: 2rem;
    }
    .game>.color-button>.material-icons,
    .game>.close-button>.material-icons {
        font-size: 1.6rem;
    }
    .controls {
        height: auto;
        justify-content: space-between;
        margin: 2rem;
    }
    .lines>.line1, .line2{
        height: 10rem;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
    .lines>.line1, .line2{
        height: 14rem;
    }
    .board {
        transform: scale(.9);
    }
    .board {
        width: 60rem;
        height: 60rem;
        border-radius: 1rem;
        padding: 3.75rem;
        margin: 1.5rem;
    }
    .home {
        width: 19.875rem;
        height: 19.875rem;
        border-radius: 1rem;
        padding: 3.75rem;
        /* box-shadow: var(--shadowIn); */
    }
    .home-inner {
        padding: 2rem;
    }
    .path-v {
        height: 19.875rem;
        width: 11.25rem;
        padding: .375rem;
    }
    .path-h {
        height: 11.25rem;
        width: 19.875rem;
        padding: .375rem;
    }
    .center {
        height: 11.25rem;
        width: 11.25rem;
    }
    .tile {
        width: 2.8rem;
        height: 2.8rem;
        margin: .15rem;
        border-radius: .2rem;
    }
    .dice-view {
        /* transform: scale(.5); */
        display: none;
    }
}

@media only screen and (max-width: 699px) {
    .board {
        /* transform: scale(.9); */
    }
    .yellow_piece::after {
        font-size: 1rem;
    }
    
    .green_piece::after {
        font-size: 1rem;
    }
    
    .red_piece::after {
        font-size: 1rem;
    }
    
    .blue_piece::after {
        font-size: 1rem;
    }

    .position{
        width: 65%;
        height: 65%;
    }

    .piece{
        font-size: 1rem;
    }

    .board {
        width: 40rem;
        height: 40rem;
        border-radius: 1rem;
        padding: 2.5rem;
        margin: 1rem;
    }
    .home {
        width: 13.75rem;
        height: 13.75rem;
        border-radius: 1rem;
        padding: 2rem;
    }
    .home-inner {
        padding: 1rem;
    }
    .path-v {
        height: 13.75rem;
        width: 7.5rem;
        padding: .25rem;
    }
    .path-h {
        height: 7.5rem;
        width: 13.75rem;
        padding: .25rem;
    }
    .center {
        height: 7.5rem;
        width: 7.5rem;
    }
    .tile {
        width: 2rem;
        height: 2rem;
        margin: .1rem;
        border-radius: .2rem;
    }


    .dice-view {
        display: none;
    }
}